.max-width-img {
  width: 350px;
  height: 250px;
  object-fit: cover;
}

h2.card-title {
  font-weight: bold;
  font-size: 20px;
}

.sabrina {
  height: 100%;
}


.row.justify-content-center.mt-5 {
  width: 100%;
}
