.max-width-img {
  width: 350px;
  height: 250px;
  object-fit: cover;
}

h2.card-title {
  font-weight: bold;
  font-size: 20px;
}

.sabrina {
  height: 100%;
}
// body {
//   background-color: rgb(199, 167, 218);
// }
