.max-width-img {
  width: 350px;
  height: 250px;
  object-fit: cover;
}

h2.card-title {
  font-weight: bold;
  font-size: 20px;
}

.sabrina {
  height: 100%;
}


.row.justify-content-center.mt-5 {
  width: 100%;
}

.matrix {
  background-image: image-url('matrix_background.gif');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  // padding: 20px;
  padding-bottom: 100vh;
  label {
    font-weight: bold;
  }

  h1 {
    text-align: center;
    font-weight: bold;
  }
}
