.carte {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.carte:hover {
  transform: scale(1.1);
}

.carte img {
  transition: transform 0.3s ease;
}

.carte .carte-body {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  transform: translateY(100%);
  transition: transform 0.3s ease;
  background: rgba(255, 255, 255, 0.9); /* Couleur de fond quasi transparente */
}

.carte:hover .carte-body {
  transform: translateY(0);
}

.carte .carte-body h5 {
  margin: 0;
}

.sticky-right-navbar {
  position: fixed;
  bottom: 10px; /* Ajustez la valeur selon votre préférence */
  right: 10px; /* Ajustez la valeur selon votre préférence */
  z-index: 1000; /* Assurez-vous que le bouton est au-dessus du reste du contenu si nécessaire */
}

.custom-h5 {
  margin: 20px;
}
