<h1>Vos données sont prêtes à être téléchargé</h1>

<%= simple_form_for([@search, @result], method: :post) do |f| %>
  <!-- Vos champs de formulaire pour les résultats -->
  <%= f.button :submit %>
<% end %>
