<div class="mt-5 container">
  <div class="text-center">
    <h1>InfoHarborXpress</h1>
    <p>Entrez les données que vous souhaitez extraire</p>

    <%= simple_form_for(@search, url: searches_path, method: :post, html: { class: "search-form" }) do |f| %>
      <div class="row justify-content-center mt-5">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.input :name, label: "Nom", placeholder: "Saisissez un nom pour votre liste", input_html: { class: "form-control string required", id: "search_name" } %>
          </div>
          <div class="form-group">
            <%= f.input :url, label: "URL", placeholder: "Saisissez une URL", input_html: { class: "form-control string required", id: "search_query" } %>
            <div class="form-group mt-2">
              <%= f.button :submit, "Rechercher", class: "btn btn-primary btn-block" do %>
                <i class="fas fa-search"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
